div(class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
	div(class="modal-dialog modal-dialog-centered" role="document")
		div(class="modal-content")
			div(class="modal-header")
				h5(class="modal-title" id="modal_title") Modal title
				button(id="close_btn" class="close invisible" type="button" data-dismiss="modal" aria-label="Close")
					span(id="cross_close" aria-hidden="true") &times;
			div(class="modal-body" id="modal_body") Text modal
			div(class="modal-footer")
				button(id="mod_close_btn" class="btn btn-secondary invisible" type="button" data-dismiss="modal") Закрыть
				button(id="mod_action_btn" class="btn btn-primary" type="button") ОК